<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APCropImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849BAA3620EB9A4800C1E8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849BAA4A20EB9A4900C1E8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849BAA5520EB9A4900C1E8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
